<div class="navbar">
  
</div>

<div class="header">
  <div class="navbar">
    <div class="logo">
      <div class="img">
        <%= image_tag('logo.png') %>
      </div>
      <div>
        <a href="#">Ruby Taiwan</a>
      </div>
    </div>

    <div class="menu">
      <a href="#">社群</a>
      <a href="#">找工作</a>
      <a href="#">Facebook</a>
      <a href="#">關於我們</a>
    </div>

    <div class="search">
        <input type="text" class="search-input" placeholder="Search ...">
        <button><i class="fas fa-search"></i></button>
    </div>
    <div class="menu">
      <a href="#">註冊</a>
      <a href="#">登入</a>
    </div>
     
    <div class="burgar_btn">
        <div class="burgar_btn">
            <i class="fas fa-bars"></i>
        </div>
    </div>
  </div>
  <div class="menu-dropdwon">
    <div class="search-dropdwon">
        <input type="text" class="search-input">
        <input type="submit" value="搜尋" class="search-submit">
    </div>
    <a href="#">社群</a>
    <a href="#">找工作</a>
    <a href="#">Facebook</a>
    <a href="#">關於我們</a>
    <a href="#">註冊</a>
    <a href="#">登入</a>
  </div>
</div>
<div class="container banner">
  <div class="row">
    <%= image_tag('banner.png') %>
  </div>
</div>

<div class="banner"></div>
<div class="hot-job container">
  <h2>熱門工作</h2>
  <div class="row">
    <div class="hot-item col-12">
      <div class="item-group">
        <div class="item-img">
          <img src="https://picsum.photos/300/300?random=1">
        </div>
        <div class="context">
          <h2>軟體工程師</h2>
          <p>5xRubycamps</p>
          <p>團隊的主要目標為設計與實作永續協議，工作包含撰寫以太坊上執行的 Smart Contracts、前端使用者介面與配合 Perpetual Protocol 的周邊服...</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="select-company container">
  <h2>推薦公司</h2>
  <div class="row">
    <div class="item col-3">
      <div class="item-img">
        <img src="https://picsum.photos/300/300?random=2">
      </div>
      <p>五倍紅寶石</p>
    </div>
    <div class="item col-3">
      <div class="item-img">
        <img src="https://picsum.photos/300/300?random=3">
      </div>
      <p>Easyship</p>
    </div>
    <div class="item col-3">
      <div class="item-img">
        <img src="https://picsum.photos/300/300?random=4">
      </div>
      <p>睿傑商業有限公司</p>
    </div>
    <div class="item col-3">
      <div class="item-img">
        <img src="https://picsum.photos/300/300?random=5">
      </div>
      <p>鑫鼎鑽有線股份有限公司</p>
    </div>
  </div>
</div>
