.item{
  display: flex;
  flex-direction: column;
  align-items: center;
  .item-img{
    width: 100%;
    display: flex;
    justify-content: center;
    img{
      width: 80%;
      border-radius: 50%;
      margin: auto;
    }
  }
}
.hot-item{
  display: flex;
  justify-content: center;
  .item-group{
    display: flex;
    border: solid 1px #aaa;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    .item-img{
      img{
        width: 100%;
      }
    }
    .context{
      width: 80%;
      display: flex;
      flex-direction: column;
      padding: 20px;
    }
  }
}